.title_1 {
    font-size: 15px;
    font-family: PingFang SC;
    line-height: 17px;
    margin-left: 20px;
    line-height: 16.5px;
    margin-top: 20px;
    align-self: flex-start;
  }
  .group_upload {
    margin-top: 10px;
    padding: 0 0 0 0;
    flex-direction: row;
    align-self: stretch;
    display: flex;
  }
  .section_upload {
    flex-direction: row;
    display: flex;
    align-items: center;

    padding: 28px 46px 28px 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 80px;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
  }
  .tishifont {
    font-size: 12px;
    font-family: PingFang SC;
    color: #999999;
  }
  .upload_font {
    margin-left: 11px;
    line-height: 11px;
  }
  .section_upload2 {
    flex-direction: row;
    display: flex;
    align-items: center;

    padding: 28px 0;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 226px;
    height: 80px;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
  }
  .image_link {
    margin-left: 62px;
  }
  .color-change-picker {
    flex-direction: column;
    align-self: stretch;
    backdrop-filter: blur(65px);
    height: 605px;
  }
  .ml-20{
    margin-left: 20px;
  }
  .mt-10{
    margin-top: 10px;
  }
  .color-change-title {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
    font-family: PingFang SC;
    line-height: 17px;
    margin-top: 20px;
    /* margin-left: 20px; */
  }